<nav class="navbar fixed-top navbar-expand-lg navbar-toggleable-lg navbar-dark bg-primary box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="Customer" asp-controller="Home" asp-action="Index">ToDoList</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-lg-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <navbar-link asp-area="Customer" asp-controller="Home" asp-action="Index">Home</navbar-link>
                <navbar-link asp-area="Customer" asp-controller="Home" asp-action="About">About</navbar-link>
                <navbar-link asp-area="Customer" asp-controller="College" asp-action="Index">Tasks</navbar-link>
                @if (User.IsInRole(SD.Role_User_Admin) || User.IsInRole(SD.Role_User_Owner))
                {
                    <navbar-link asp-area="Admin" asp-controller="Subject" asp-action="Index">Subjects</navbar-link>
                    @if (User.IsInRole(SD.Role_User_Owner))
                    {
                        <navbar-link asp-area="Owner" asp-controller="Group" asp-action="Index">Groups</navbar-link>
                        <navbar-link asp-area="Owner" asp-page="/RoleManager/UserRoleManager">Users</navbar-link>
                    }
                }              
            </ul>
            <partial name="_LoginPartial" />
        </div>
    </div>
</nav>