<div class="card shadow border-0 mt-4">
    <div class="card-header bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-black py-2">About</h1>
            </div>
        </div>
    </div>
    <div class="card-body bg-primary p-4">
        <p class="text-white">This project is open source</p>
        <p class="text-white">Link to repo: <a href="https://github.com/Wikator/ToDoList">https://github.com/Wikator/ToDoList</a></p>
    </div>
</div>